main{
font-size: 0;
}
.fullBox{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.box{
	border:1px solid black;
	display: inline-block;
}
.boxHalf{
	height: 200px;
	width: 50%
}
.boxSecondHalf{
	height: 300px;
	width: 33.33%
}
.firstGreen{
	background-color: green;
}
.firstBlue{
	background-color: blue;
}
.secondGray{
	background-color: gray;
}
.secondYellow{
	background-color: yellow;
}
.secondBlack{
	background-color: black;
}
